/* Global (master) stylesheet, applied to all pages (maybe) */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #8269e5;
    --secondary-color: #c8acfb;
}

body {
    margin: 0;
}

* {
    font-family: "PT Sans", sans-serif; 
}

.bordered {
    border-style: solid;
    border-width: 2px;
    border-color: #e5e7eb;
    border-radius: 8px;
}

.error {
    color: #d00;
    font-size: 0.9rem;
}