h1 {
    text-align: center;
}
form {
    padding: 1rem 3rem;
    margin: 2rem auto;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
form div {
    margin-bottom: 1.5rem;
}
form > * {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
label {
    display: inline-block;
    text-align: left;
    width: 80%;
}
input {
    width: 80%;
}
button {
    font-size: 1.07rem;
    padding: 0.5rem 1rem;
    text-align: center;
    width: max-content;
    align-self: center;
}