h1 {
    font-size: 2.2rem;
    margin-left: 30px;
}
ul {
    width: max-content;
    padding: 0.2rem 0.5rem;
}
ul li {
    list-style-type: none;
}
.user-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.action {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.message, .action, .msg-form {
    width: 90%;
    border-style: solid;
    border-width: 2px;
    border-color: #aaa;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}
.attachments-header {
    font-size: 0.95em;
    color: #777;
}
.msg-form {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.6rem;
}
.tag, .priority {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
}
.user-info .pfp, .action .pfp {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.user-info p>i {
    color: #555;
}

.msg-form textarea {
    height:10rem;
    width: 50%;
}