/* Stylesheet applied to layout component (and consequently to all pages) */
body {
    display: flex;
    flex-direction: column;
}

.head {
    background-color: var(--secondary-color);
    padding: 20px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.logo a {
    color: black;
    text-decoration: none;
}

.navlink, .nav-highlight {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.navigation {
    margin-right: auto;
    margin-left: 20px;
}

.user {
    display:flex;
    align-items: center;
    gap: 0.7rem;
    align-self: flex-end;
}

.container {
    padding:8px;
    flex-grow: 1;
}

.container>:first-child {
    margin-block-start: 0;
}

.nav-highlight {
    background-color: var(--primary-color);
    color: white;
}
.user .pfp {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.user-pfp-link {
    color: black;
}

.user > form {
    all: unset;
    display: inline;
}
.user > form > button {
    all: unset;
    cursor: pointer;
}